<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <audio controls autoplay style="float: left;">
  <source src="https://yiqi0708.github.io/iloveu/assets/js/1.mp3" type="audio/mpeg">
  <embed src="https://yiqi0708.github.io/iloveu/assets/js/1.mp3" autostart="true" loop="true">
</audio>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' }}" >
</head>
