<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
      <b>&nbsp;&nbsp;&nbsp;已经过去了</b>
        <span id="year"></span>年 
      <span id="day"></span>日
      <span id="hour"></span>时 
      <span id="minute"></span>分
      <span id="second"></span>秒
      <div class="header-links">
      </div>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
<script>
    setInterval(function() {
      NotRetain();
    }, 500)
    function NotRetain() {
      //不保留小数点
      var NowTime = parseInt(new Date().getTime() );
      var StarTime = 1594137600000;
      //秒
      var time = parseInt((NowTime - StarTime) / 1000)
      var second = parseInt(time%60);
      var minute = parseInt((time/60)%60);
      var hour = parseInt((time/(60*60))%24);
      var day = parseInt((time/(60*60*24))%365);
      var year = parseInt(day/365);
      
      document.getElementById("second").innerHTML = second;
      //分
      document.getElementById("minute").innerHTML = minute;
      //时
      document.getElementById("hour").innerHTML = hour;
      //天
      document.getElementById("day").innerHTML = day;
      //年
      document.getElementById("year").innerHTML = year;
    }
  </script>
