<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
      已经过去了
      <div class="header-links">
        <span id="year"></span>年 
      <span id="day"></span>日
      <span id="hour"></span>时 
      <span id="minute"></span>分
      <span id="second"></span>秒
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
